body{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 600;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    color: rgba(0, 255, 85, 0.671);
    font-weight: bold;
    font-size: 900;
    position: relative;
    left: 40%;
}
h2{
    color: rgb(214, 214, 22);
    font-size: 800;
    position: relative;
    left: 25%;
}
h3{
    color: rgb(199, 170, 226);
    text-decoration: underline;
    font-size: 700;
}
#right {
    position: relative;
    left: 80%;
    top: -800px;
}
#rightimg {
    position: relative;
    right: -50%;
    top: -450px;
}
#left {
    position: relative;
    left: 3%;
}
a {
    position: relative;
    left: 3%;
    top: -600px;
}
img {
    width: 330px;
}
a:hover {
    color: blue;

}
ul {
    list-style-type: square;
}